<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TwentyCodes.android.FindMyCarFull"
    android:installLocation="auto"
    android:versionCode="231"
    android:versionName="4.1" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- used to communicate with Skyhook's servers -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- enables WiFi, if disabled, for the duration of a location request -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- used to obtain information about the WiFi environment -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- used to obtain cell tower ID -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!-- used to access GPS location, for XPS functionality -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="Main"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.TwentyCodes.android.FindMyCarLib.AlarmReceiver"
            android:process=":parkingtimeralarm" />

        <service
            android:name="com.TwentyCodes.android.FindMyCarLib.ParkingTimerService"
            android:process=":parkingtimer" />

        <activity android:name="com.TwentyCodes.android.FindMyCarLib.Settings" />
        <activity
            android:name="com.TwentyCodes.android.exception.ExceptionReportActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.TwentyCodes.android.FindMyCarLib.ParkignTimerActivity"
            android:theme="@style/MyDialogTheme" />

        <service android:name="com.TwentyCodes.android.exception.ReportPostingService" />
    </application>

</manifest>